name: Hardhat Build & Test

on:
  push:
  workflow_dispatch:

jobs:
  hardhat_build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: NPM Install
        run: npm install
      - name: Hardhat Compile
        run: npx hardhat compile
      - name: Hardhat Test
        run: npx hardhat test
